<header class="nav-bar shadow-sm" id="nav-bar">
    <div class="pt-2 pb-1" style="background-color: #00B6B0;">
      <div class="container" style="display: flex; justify-content: space-between;">
        <a style="color: #FFFFFF;" href="" class="d-flex"><span class=" mr-2" ><mat-icon>mail_outline</mat-icon></span>email address</a>
        <a style="color: #FFFFFF;" href="" class="d-flex "><span class=" mr-2" ><mat-icon>phone</mat-icon></span> phone number</a>
        <a style="color: #FFFFFF;" href="" class="d-flex"><span class=" mr-2" ><mat-icon>room</mat-icon></span> head office-UK</a>
      </div>
    </div>
  
    <nav class="navbar fixed navbar-expand-lg navbar-light">
       <a class=""  routerLink=''><img src="../assets/Mask Group 14.png" alt=""></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
     
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mx-auto">
           <li class="nav-item ">
             <a mat-button class="nav-link px-md-4" routerLink=''>Home</a>
           </li>
           <li class="nav-item">
             <a mat-button class="nav-link px-md-4" routerLink='about'>About</a>
           </li>
           <li class="nav-item">
             <a mat-button class="nav-link px-md-4" routerLink='service' >Services</a>
           </li>
           <li class="nav-item">
             <a mat-button class="nav-link px-md-4" routerLink='news' >News</a>
           </li>
           <li class="nav-item">
             <a mat-button class="nav-link px-md-4" routerLink='contact' >Contact</a>
           </li>
         </ul>
         <div>
          <button style="border-radius: 0%; color: black; background-color: #FFFFFF; 
          border: 2px solid black;" routerLink="eligibility" mat-button class="assesment">Book free Assesment</button>
       </div>
       </div>
     </nav>
  </header>
