 <!-- ======= Footer ======= -->
 <footer id="footer">
    <div class="container-fluid  px-3 px-lg-5 py-5">
        <div class="footer-top">
     
            <div class="row">
    
              <div class="col-lg-3 col-md-6 footer-links mt-5">
                <a class=""  routerLink=''><img src="../assets/Mask Group 14.png" alt=""></a>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-links mt-5">
                <h4>Useful Links</h4>
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Terms of service</a></li>
                  <li><a href="#">Privacy policy</a></li>
                </ul>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-links mt-5">
                <h4>Our Services</h4>
                <div>
                  
                  <span>Lorem, ipsum.</span> <br>
                  <span>Lorem ipsum dolor sit.</span> <br>
                  <span>( Lorem, ipsum dolor. )</span>
                  
                </div>
                <div class="social-links mt-4">
                    <a class="fa-brands fa-facebook-f" style="padding-left: 10px; padding-right: 10px;" href=""></a>
                    <a class="fa-brands fa-twitter" href=""></a>
                    <a class="fa-brands fa-instagram" href=""></a>
                    <a class="fa-brands fa-linkedin-in" href=""></a>
                </div>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-links mt-5">
                <h4>Our Social Networks</h4>
                <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                <form class="d-flex">
                    <input class="form-control shadow-sm" style="border-radius: 0ch;" type="search" placeholder="Search" aria-label="Search">
                    <button  style="border-radius: 0px; background-color: black; font-size: 20px;" class="" mat-raised-button><i class="fa-brands fa-telegram"></i></button> 
                  </form>
              </div>
    
            </div>
          
          <hr class="" style="background-color:#777777 ; ">
        </div>
    
        <div class="footer-bottom clearfix d-md-flex">
          <div class="copyright mt-md-0 mt-4">
            &copy; Copyright <strong><span></span></strong>. All Rights Reserved
          </div>
          <div class="credits ml-md-auto mt-md-0 mt-4">
            
            Designed by <a href="https://bootstrapmade.com/">Adage</a>
          </div>
        </div>
    </div>
  </footer><!-- End Footer -->

