  <!-- ======= service banner Section ======= -->

  <section class="service" id="service" style="background-image: url('../../assets/service\ banner.png')">

 

    <div class="container text-center " >

 

       <div class="pl-lg-5 pl-3 mt-lg-5 mt-4 ">

        <h1 class="">Our service</h1>
       </div>
    </div>
</section>  
  
  <!-- End service banner-->

<!-- ======= immigration Section ======= -->
  <section class="immigration py-5" id="immigration" style="background-color: #F5F7F9;">
      <div class="container">
        <div class="text-center">
            <h3 style="font-weight: 600; font-size: 25px;" >Immigration & visa services</h3>
            <p class="mt-4 mx-lg-5 px-lg-5" style="font-weight: 500; font-size: 18px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. At repellendus quos laboriosam est accusamus neque sit. Rem, maxime, eveniet quos explicabo qui maiores reiciendis quia illum ab minus nihil cumque!maxime, eveniet quos explicabo qui maiores reiciendis quia illum ab minus nihil cumque!</p>
          </div>
          <div class="row mt-4">
              <div class="col-md-3 col-6">
                <ul style="list-style: none; padding-left: 0%; font-weight: 600; font-size: 20px;">
                    <li class="d-flex mt-3"><span class=" mr-2" ><i class="fa-solid fa-circle-dot"></i></span> Migration consultation</li>
                    <li class="d-flex mt-3"><span class=" mr-2" ><i class="fa-solid fa-circle-dot"></i></span> Sponsored work visa</li>
                  </ul>
              </div>
              <div class="col-md-3 col-6">
                <ul style="list-style: none; padding-left: 0%; font-weight: 600; font-size: 20px">
                    <li class="d-flex mt-3"><span class=" mr-2" ><i class="fa-solid fa-circle-dot"></i></span> UK citizenship</li>
                    <li class="d-flex mt-3"><span class=" mr-2" ><i class="fa-solid fa-circle-dot"></i></span> Priority service</li>
                  </ul>
              </div>
              <div class="col-md-3 col-6">
                <ul style="list-style: none; padding-left: 0%; font-weight: 600; font-size: 20px">
                    <li class="d-flex mt-3"><span class=" mr-2" ><i class="fa-solid fa-circle-dot"></i></span> Skilled visas</li>
                    <li class="d-flex mt-3"><span class=" mr-2" ><i class="fa-solid fa-circle-dot"></i></span> AAT appeal</li>
                  </ul>
              </div>
              <div class="col-md-3 col-6">
                <ul style="list-style: none; padding-left: 0%; font-weight: 600; font-size: 20px">
                    <li class="d-flex mt-3"><span class=" mr-2" ><i class="fa-solid fa-circle-dot"></i></span> Skilled visas</li>
                    <li class="d-flex mt-3"><span class=" mr-2" ><i class="fa-solid fa-circle-dot"></i></span> AAT appeal</li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
<!-- End immigration-->

<!-- ======= Migration consultation Section ======= -->
<section class="s-main pb-5" id="s-main">
<div class="container-fluid px-md-5">
<div class="text-center pt-3 pb-2" style="background-color: #000000; color: aliceblue;">
    <img src="../../assets/service icon (2).png" alt="">
    <h3 style="font-weight: 600; font-size: 25px;" >Migration consultation</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic fugiat non natus magnam.</p>
</div>
<div style="display: flex; justify-content: center;"> 
 <img src="../../assets/1024px-Black_triangle.svg.png" width="60px" height="25px" style="position: absolute; margin-top: -1px;"  alt="">
</div> 
<div class="s-m-inner px-lg-5 py-5" style="background-image: url('../../assets/service\ img\ \(6\).png');">
<div class="trans-bg text-center mx-lg-5 mx-3 px-xl-5 pt-lg-4 pb-lg-4 pt-3 pb-2 px-3">
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium eos! Adipisci excepturi assumenda quas earum pariatur molestias. Consectetur ipsa porro ut deleniti.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium eos! Adipisci excepturi assumenda quas earum pariatur molestias. Consectetur ipsa porro ut deleniti.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium  Consectetur ipsa porro ut deleniti. sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium  Consectetur ipsa porro ut deleniti</p>
</div>
</div>
</div>
</section>
<!-- End Migration consultation-->

<!-- ======= UK citizenship Section ======= -->
<section class="s-main pb-5" id="s-main">
  <div class="container-fluid px-md-5">
  <div class="text-center pt-3 pb-2" style="background-color: #000000; color: aliceblue;">
      <img src="../../assets/service icon (3).png" alt="">
      <h3 style="font-weight: 600; font-size:25px" >UK Citizenship</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic fugiat non natus magnam.</p>
  </div>
  <div style="display: flex; justify-content: center;"> 
   <img src="../../assets/1024px-Black_triangle.svg.png" width="60px" height="25px" style="position: absolute; margin-top: -1px;"  alt="">
  </div> 
  <div class="s-m-inner px-lg-5 py-5" style="background-image: url('../../assets/service\ img\ \(7\).png');">
  <div class="trans-bg text-center mx-lg-5 mx-3 px-xl-5 pt-lg-4 pb-lg-4 pt-3 pb-2 px-3">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium eos! Adipisci excepturi assumenda quas earum pariatur molestias. Consectetur ipsa porro ut deleniti.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium eos! Adipisci excepturi assumenda quas earum pariatur molestias. Consectetur ipsa porro ut deleniti.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium  Consectetur ipsa porro ut deleniti. sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium  Consectetur ipsa porro ut deleniti</p>
  </div>
  </div>
  </div>
  </section>
  <!-- End UK citizenship-->

  <!-- ======= Partner visas Section ======= -->
<section class="s-main pb-5" id="s-main">
  <div class="container-fluid px-md-5">
  <div class="text-center pt-3 pb-2" style="background-color: #000000; color: aliceblue;">
      <img src="../../assets/service icon (4).png" alt="">
      <h3 style="font-weight: 600; font-size:25px" >Partner visas</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic fugiat non natus magnam.</p>
  </div>
  <div style="display: flex; justify-content: center;"> 
   <img src="../../assets/1024px-Black_triangle.svg.png" width="60px" height="25px" style="position: absolute; margin-top: -1px;"  alt="">
  </div> 
  <div class="s-m-inner px-lg-5 py-5" style="background-image: url('../../assets/service\ img\ \(8\).png');">
  <div class="trans-bg text-center mx-lg-5 mx-3 px-xl-5 pt-lg-4 pb-lg-4 pt-3 pb-2 px-3">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium eos! Adipisci excepturi assumenda quas earum pariatur molestias. Consectetur ipsa porro ut deleniti.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium eos! Adipisci excepturi assumenda quas earum pariatur molestias. Consectetur ipsa porro ut deleniti.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium  Consectetur ipsa porro ut deleniti. sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium  Consectetur ipsa porro ut deleniti</p>
  </div>
  </div>
  </div>
  </section>
  <!-- End Partner visas-->

  <!-- ======= AAT Appeal Section ======= -->
<section class="s-main pb-5" id="s-main">
  <div class="container-fluid px-md-5">
  <div class="text-center pt-3 pb-2" style="background-color: #000000; color: aliceblue;">
      <img src="../../assets/service icon (5).png" alt="">
      <h3 style="font-weight: 600; font-size:25px" > AAT Appeal</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic fugiat non natus magnam.</p>
  </div>
  <div style="display: flex; justify-content: center;"> 
   <img src="../../assets/1024px-Black_triangle.svg.png" width="60px" height="25px" style="position: absolute; margin-top: -1px;"  alt="">
  </div> 
  <div class="s-m-inner px-lg-5 py-5" style="background-image: url('../../assets/service\ img\ \(1\).png');">
  <div class="trans-bg text-center mx-lg-5 mx-3 px-xl-5 pt-lg-4 pb-lg-4 pt-3 pb-2 px-3">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium eos! Adipisci excepturi assumenda quas earum pariatur molestias. Consectetur ipsa porro ut deleniti.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium eos! Adipisci excepturi assumenda quas earum pariatur molestias. Consectetur ipsa porro ut deleniti.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium  Consectetur ipsa porro ut deleniti. sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium  Consectetur ipsa porro ut deleniti</p>
  </div>
  </div>
  </div>
  </section>
  <!-- End AAT Appeal-->

  <!-- ======= Priority Service Section ======= -->
<section class="s-main pb-5" id="s-main">
  <div class="container-fluid px-md-5">
  <div class="text-center pt-3 pb-2" style="background-color: #000000; color: aliceblue;">
      <img src="../../assets/service icon (6).png" alt="">
      <h3 style="font-weight: 600; font-size:25px" >Priority Service</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic fugiat non natus magnam.</p>
  </div>
  <div style="display: flex; justify-content: center;"> 
   <img src="../../assets/1024px-Black_triangle.svg.png" width="60px" height="25px" style="position: absolute; margin-top: -1px;"  alt="">
  </div> 
  <div class="s-m-inner px-lg-5 py-5" style="background-image: url('../../assets/service\ img\ \(2\).png');">
  <div class="trans-bg text-center mx-lg-5 mx-3 px-xl-5 pt-lg-4 pb-lg-4 pt-3 pb-2 px-3">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium eos! Adipisci excepturi assumenda quas earum pariatur molestias. Consectetur ipsa porro ut deleniti.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium eos! Adipisci excepturi assumenda quas earum pariatur molestias. Consectetur ipsa porro ut deleniti.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium  Consectetur ipsa porro ut deleniti. sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium  Consectetur ipsa porro ut deleniti</p>
  </div>
  </div>
  </div>
  </section>
  <!-- End Priority Service-->

  <!-- ======= Sponsored Work Visas Section ======= -->
<section class="s-main pb-5" id="s-main">
  <div class="container-fluid px-md-5">
  <div class="text-center pt-3 pb-2" style="background-color: #000000; color: aliceblue;">
      <img src="../../assets/service icon (7).png" alt="">
      <h3 style="font-weight: 600; font-size:25px" >Sponsored Work Visas</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic fugiat non natus magnam.</p>
  </div>
  <div style="display: flex; justify-content: center;"> 
   <img src="../../assets/1024px-Black_triangle.svg.png" width="60px" height="25px" style="position: absolute; margin-top: -1px;"  alt="">
  </div> 
  <div class="s-m-inner px-lg-5 py-5" style="background-image: url('../../assets/service\ img\ \(3\).png');">
  <div class="trans-bg text-center mx-lg-5 mx-3 px-xl-5 pt-lg-4 pb-lg-4 pt-3 pb-2 px-3">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium eos! Adipisci excepturi assumenda quas earum pariatur molestias. Consectetur ipsa porro ut deleniti.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium eos! Adipisci excepturi assumenda quas earum pariatur molestias. Consectetur ipsa porro ut deleniti.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium  Consectetur ipsa porro ut deleniti. sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium  Consectetur ipsa porro ut deleniti</p>
  </div>
  </div>
  </div>
  </section>
  <!-- End Sponsored Work Visas-->

  <!-- ======= Skilled Visas Section ======= -->
<section class="s-main pb-5" id="s-main">
  <div class="container-fluid px-md-5">
  <div class="text-center pt-3 pb-2" style="background-color: #000000; color: aliceblue;">
      <img src="../../assets/service icon (8).png" alt="">
      <h3 style="font-weight: 600; font-size:25px" >Skilled Visas</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic fugiat non natus magnam.</p>
  </div>
  <div style="display: flex; justify-content: center;"> 
   <img src="../../assets/1024px-Black_triangle.svg.png" width="60px" height="25px" style="position: absolute; margin-top: -1px;"  alt="">
  </div> 
  <div class="s-m-inner px-lg-5 py-5" style="background-image: url('../../assets/service\ img\ \(4\).png');">
  <div class="trans-bg text-center mx-lg-5 mx-3 px-xl-5 pt-lg-4 pb-lg-4 pt-3 pb-2 px-3">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium eos! Adipisci excepturi assumenda quas earum pariatur molestias. Consectetur ipsa porro ut deleniti.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium eos! Adipisci excepturi assumenda quas earum pariatur molestias. Consectetur ipsa porro ut deleniti.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium  Consectetur ipsa porro ut deleniti. sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium  Consectetur ipsa porro ut deleniti</p>
  </div>
  </div>
  </div>
  </section>
  <!-- End Skilled Visas-->

  <!-- ======= Other Services Section ======= -->
<section class="s-main pb-5" id="s-main">
  <div class="container-fluid px-md-5">
  <div class="text-center pt-3 pb-2" style="background-color: #000000; color: aliceblue;">
    <img src="../../assets/service icon (1).png" alt="">
      <h3 style="font-weight: 600; font-size:25px" >Other Services</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic fugiat non natus magnam.</p>
  </div>
  <div style="display: flex; justify-content: center;"> 
   <img src="../../assets/1024px-Black_triangle.svg.png" width="60px" height="25px" style="position: absolute; margin-top: -1px;"  alt="">
  </div> 
  <div class="s-m-inner px-lg-5 py-5" style="background-image: url('../../assets/service\ img\ \(5\).png');">
  <div class="trans-bg text-center mx-lg-5 mx-3 px-xl-5 pt-lg-4 pb-lg-4 pt-3 pb-2 px-3">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium eos! Adipisci excepturi assumenda quas earum pariatur molestias. Consectetur ipsa porro ut deleniti.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium eos! Adipisci excepturi assumenda quas earum pariatur molestias. Consectetur ipsa porro ut deleniti.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium  Consectetur ipsa porro ut deleniti. sit amet consectetur adipisicing elit. Mollitia ullam quod reiciendis provident aliquam similique voluptatum praesentium  Consectetur ipsa porro ut deleniti</p>
  </div>
  </div>
  </div>
  </section>
  <!-- End Other Services-->