  <!-- ======= News banner Section ======= -->

  <section class="News" id="News" style="background-image: url('../../assets/service\ banner.png')">

 

    <div class="container text-center " >

 

       <div class="pl-lg-5 pl-3 mt-lg-5 mt-4 ">

        <h1 class="">News</h1>
       </div>
    </div>
</section>  
  
  <!-- End News banner-->

    <!-- ======= News main Section ======= -->
    <section class="news-main py-5" id="news-main">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div>
                        <img src="../../assets/news banner.png" class="img-fluid w-100" alt="">

                        <div class="n-img shadow-sm px-md-4 px-3">
                            <h5 class="my-3" style="font-weight: 600; font-size: 25px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>

                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid mollitia officiis numquam ad consequuntur eos nemo. Nisi, atque optio vel deserunt voluptatum distinctio ab rerum itaque molestias consectetur recusandae ducimus quos cupiditate tenetur natus totam praesentium accusantium! Fugit, cupiditate voluptate! consectetur recusandae ducimus quos cupiditate tenetur natus totam praesentium accusantium! Fugit, cupiditate voluptate!</p>

                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid mollitia officiis numquam ad consequuntur eos nemo. Nisi, atque optio vel deserunt voluptatum distinctio ab rerum itaque molestias consectetur recusandae ducimus quos cupiditate tenetur natus totam praesentium accusantium! Fugit, cupiditate voluptate! consectetur recusandae ducimus quos cupiditate tenetur natus totam praesentium accusantium! Fugit, cupiditate voluptate!</p>

                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid mollitia officiis numquam ad consequuntur eos nemo. Nisi, atque optio vel deserunt voluptatum distinctio ab rerum itaque molestias consectetur recusandae ducimus quos cupiditate tenetur natus totam praesentium accusantium! Fugit, cupiditate voluptate! consectetur recusandae ducimus quos cupiditate tenetur natus totam praesentium accusantium! Fugit, cupiditate voluptate!</p>

                            <button  style="border-radius: 0px; background-color: black;" class="px-5 py-2  mb-4" mat-raised-button>More</button>
                        </div>

                        <div class="btn-group mt-3" role="group" aria-label="Basic example">
                            <button type="button" class="btn pb-1">1</button>
                            <button type="button" class="btn mx-3 pb-1">2</button>
                            <button type="button" class="btn px-2 pb-1 pt-2"><mat-icon>arrow_right_alt</mat-icon></button>
                          </div>
                    </div>
                </div>
                <div class="col-md-5 mt-md-0 mt-4 px-lg-5">
                    <div class="recent-news">
                        <div>
                            <form class="form-inline">
                                <input class="form-control" type="search" placeholder="Search..." aria-label="Search">
                                <button class="mt-2" type="submit"><mat-icon>search</mat-icon></button>
                              </form>                          
                        </div>
                        <div>
                            <h4 class="my-4" style="font-weight: 600;">Recent News</h4>

                            <ul style="list-style: none; padding-left: 0%;">
                                <li class="d-flex mt-3">
                                    <span class=" mr-2" >
                                        <img src="../../assets/sub news (4).png" class="img-fluid" alt="">
                                    </span>
                                    <div>
                                       <a href="" style="font-weight: 600;">Lorem iasum dolor sit amet consectetur.</a>
                                        <p>07 March 2022</p>
                                    </div>
                                </li>
                                <li class="d-flex mt-3">
                                    <span class=" mr-2" >
                                        <img src="../../assets/sub news (4).png" class="img-fluid" alt="">
                                    </span>
                                    <div>
                                       <a href="" style="font-weight: 600;">Lorem iasum dolor sit amet consectetur.</a>
                                        <p>07 March 2022</p>
                                    </div>
                                </li>
                                <li class="d-flex mt-3">
                                    <span class=" mr-2" >
                                        <img src="../../assets/sub news (4).png" class="img-fluid" alt="">
                                    </span>
                                    <div>
                                       <a href="" style="font-weight: 600;">Lorem iasum dolor sit amet consectetur.</a>
                                        <p>07 March 2022</p>
                                    </div>
                                </li>
                                <li class="d-flex mt-3">
                                    <span class=" mr-2" >
                                        <img src="../../assets/sub news (4).png" class="img-fluid" alt="">
                                    </span>
                                    <div>
                                       <a href="" style="font-weight: 600;">Lorem iasum dolor sit amet consectetur.</a>
                                        <p>07 March 2022</p>
                                    </div>
                                </li>
                                <li class="d-flex mt-3">
                                    <span class=" mr-2" >
                                        <img src="../../assets/sub news (4).png" class="img-fluid" alt="">
                                    </span>
                                    <div>
                                       <a href="" style="font-weight: 600;">Lorem iasum dolor sit amet consectetur.</a>
                                        <p>07 March 2022</p>
                                    </div>
                                </li>
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
      <!-- End News main-->