<section class="eligibility px-md-4 py-5" id="eligibility">
    <div class="container-fluid">
        <div class="pb-5">
            <h3 style="font-weight: 700; font-size: 24px; color: #030303;">Contact us</h3>
          </div>

          <div class="p-information shadow">
              <div class="i-header">
               <span> Personal information</span>
              </div>
              <div class="i-body">
                <form>
                    <div class="form-group">
                        <label for="message">Please provide us a short summary with your query ot the basis that you hope to apply for a UK visa</label>
                        <textarea class="form-control" id="message" rows="3"></textarea>
                      </div>
                   <div class="row">
                       <div class="col-md-4 f-row">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Title</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
                          </div>
                       </div>
                       <div class="col-md-4 f-row">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Title</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
                          </div>
                       </div>
                       <div class="col-md-4 f-row">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Title</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
                          </div>
                       </div>
                   </div>
                   <div class="row">
                    <div class="col-md-4 f-row">
                     <div class="form-group">
                         <label for="exampleInputEmail1">Title</label>
                         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
                       </div>
                    </div>
                    <div class="col-md-4 f-row">
                     <div class="form-group">
                         <label for="exampleInputEmail1">Title</label>
                         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
                       </div>
                    </div>
                    <div class="col-md-4 f-row">
                     <div class="form-group">
                         <label for="exampleInputEmail1">Title</label>
                         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
                       </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 f-row">
                     <div class="form-group">
                         <label for="exampleInputEmail1">Title</label>
                         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
                       </div>
                    </div>
                    <div class="col-md-4 f-row">
                     <div class="form-group">
                         <label for="exampleInputEmail1">Title</label>
                         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
                       </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 f-row">
                     <div class="form-group">
                         <label for="exampleInputEmail1">Title</label>
                         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
                       </div>
                    </div>
                    <div class="col-md-6 f-row">
                     <div class="form-group">
                         <label for="exampleInputEmail1">Title</label>
                         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
                       </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 f-row">
                     <div class="form-group">
                         <label for="exampleInputEmail1">Title</label>
                         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
                       </div>
                    </div>
                    <div class="col-md-4 f-row">
                     <div class="form-group">
                         <label for="exampleInputEmail1">Title</label>
                         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
                       </div>
                    </div>
                    <div class="col-md-4 f-row">
                     <div class="form-group">
                         <label for="exampleInputEmail1">Title</label>
                         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
                       </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 f-row">
                     <div class="form-group">
                         <label for="exampleInputEmail1">Title</label>
                         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
                       </div>
                    </div>
                    <div class="col-md-4 f-row">
                     <div class="form-group">
                         <label for="exampleInputEmail1">Title</label>
                         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
                       </div>
                    </div>
                    <div class="col-md-4 f-row">
                     <div class="form-group">
                         <label for="exampleInputEmail1">Title</label>
                         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
                       </div>
                    </div>
                </div> 
                   <div class="row">
                       <div class="col-md-4 l-row">
                        <div class="form-check">
                            <div class="row">
                                 <div class="col-12" style="margin-left: 0ch; padding-left: 0ch;">
                                <label>Would you like us to call you to discuss your query?</label>
                             </div>
                                <div class="col-md-3 col-6">
                                    <div>
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Yes</label>
                                     </div> 
                                </div>
                                <div class="col-md-3 col-6">
                                    <div>
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">No</label>
                                     </div>
                                </div>
                            </div>
                        </div>
                       </div>
                       <div class="col-md-4 l-row">
                        <div class="form-check">
                            <div class="row">
                                <div class="col-12" style="margin-left: 0ch; padding-left: 0ch;">
                                    <label>Would you like us to call you to discuss your query?</label>
                                 </div>
                                <div class="col-md-3 col-6">
                                    <div>
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Yes</label>
                                     </div> 
                                </div>
                                <div class="col-md-3 col-6">
                                    <div>
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">No</label>
                                     </div>
                                </div>
                            </div>
                        </div>
                       </div>
                       <div class="col-md-4 l-row">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Title</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
                          </div>
                       </div>
                   </div>
                   <div class="row">
                    <div class="col-md-4 l-row">
                     <div class="form-group">
                         <label for="exampleInputEmail1">Title</label>
                         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> 
                       </div>
                    </div>
                    <div class="col-md-4 l-row">
                     <div class="form-check">
                         <div class="row">
                              <div class="col-12" style="margin-left: 0ch; padding-left: 0ch;">
                                <label>Would you like us to call you to discuss your query?</label>
                             </div>
                             <div class="col-md-3 col-6">
                                 <div>
                                     <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                     <label class="form-check-label" for="exampleCheck1">Yes</label>
                                  </div> 
                             </div>
                             <div class="col-md-3 col-6">
                                 <div>
                                     <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                     <label class="form-check-label" for="exampleCheck1">No</label>
                                  </div>
                             </div>
                         </div>
                     </div>
                    </div>
                    <div class="col-md-4 l-row">
                     <div class="form-check">
                         <div class="row">
                            <div class="col-12" style="margin-left: 0ch; padding-left: 0ch;">
                                <label>Would you like us to call you to discuss your query?</label>
                             </div>
                             <div class="col-md-3 col-6">
                                 <div>
                                     <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                     <label class="form-check-label" for="exampleCheck1">Yes</label>
                                  </div> 
                             </div>
                             <div class="col-md-3 col-6">
                                 <div>
                                     <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                     <label class="form-check-label" for="exampleCheck1">No</label>
                                  </div>
                             </div>
                         </div>
                     </div>
                    </div>
                </div>
                   <div class="row">
                    <div class="col-md-8 l-row">
                     <div class="form-check">
                         <div class="row">
                              <div class="col-12" style="margin-left: 0ch; padding-left: 0ch;">
                                <label>Would you like us to call you to discuss your like us to call you to discuss you query?</label>
                             </div>
                             <div class="col-md-3 col-6">
                                 <div>
                                     <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                     <label class="form-check-label" for="exampleCheck1">Yes</label>
                                  </div> 
                             </div>
                             <div class="col-md-3 col-6">
                                 <div>
                                     <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                     <label class="form-check-label" for="exampleCheck1">No</label>
                                  </div>
                             </div>
                         </div>
                     </div>
                    </div>
                    <div class="col-md-4 l-row">
                     <div class="form-check">
                         <div class="row">
                              <div class="col-12" style="margin-left: 0ch; padding-left: 0ch;">
                                <label>Would you like us to call you to discuss your query?</label>
                             </div>
                             <div class="col-md-3 col-6">
                                 <div>
                                     <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                     <label class="form-check-label" for="exampleCheck1">Yes</label>
                                  </div> 
                             </div>
                             <div class="col-md-3 col-6">
                                 <div>
                                     <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                     <label class="form-check-label" for="exampleCheck1">No</label>
                                  </div>
                             </div>
                         </div>
                     </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-md-4 l-row">
                     <div class="form-check">
                         <div class="row">
                              <div class="col-12" style="margin-left: 0ch; padding-left: 0ch;">
                                <label>Would you like us to call you to discuss your query?</label>
                             </div>
                             <div class="col-md-3 col-6">
                                 <div>
                                     <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                     <label class="form-check-label" for="exampleCheck1">Yes</label>
                                  </div> 
                             </div>
                             <div class="col-md-3 col-6">
                                 <div>
                                     <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                     <label class="form-check-label" for="exampleCheck1">No</label>
                                  </div>
                             </div>
                         </div>
                     </div>
                    </div> 
                    <div class="col-md-8 l-row">
                     <div class="form-check">
                         <div class="row">
                              <div class="col-12" style="margin-left: 0ch; padding-left: 0ch;">
                                <label>Would you like us to call you to discuss your query?</label>
                             </div>
                             <div class="col-md-3 col-6">
                                 <div>
                                     <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                     <label class="form-check-label" for="exampleCheck1">Yes</label>
                                  </div> 
                             </div>
                             <div class="col-md-3 col-6">
                                 <div>
                                     <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                     <label class="form-check-label" for="exampleCheck1">No</label>
                                  </div>
                             </div>
                         </div>
                     </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 l-row">
                     <div class="form-check">
                         <div class="row">
                              <div class="col-12" style="margin-left: 0ch; padding-left: 0ch;">
                                <label>Would you like us to call you to discuss your query?</label>
                             </div>
                             <div class="col-md-3 col-6">
                                 <div>
                                     <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                     <label class="form-check-label" for="exampleCheck1">Yes</label>
                                  </div> 
                             </div>
                             <div class="col-md-3 col-6">
                                 <div>
                                     <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                     <label class="form-check-label" for="exampleCheck1">No</label>
                                  </div>
                             </div>
                         </div>
                     </div>
                    </div>
                </div>
                    <div class="d-flex justify-content-between mt-5">
                        <button style="border-radius: 0%; color: #414141; font-weight: 600; font-size: 17px; background-color: #FFFFFF; 
                        border: 2px solid #414141;" routerLink="eligibility" mat-button class="assesment px-md-5 py-2">Back</button>
                        <button  style="border-radius: 0px; font-weight: 600; font-size: 17px;  background-color: black;" class="px-md-5 py-2" routerLink="invoice" mat-raised-button>Next</button>
                    </div>
                  </form>
              </div>
          </div>
    </div>
</section>