 <section class="invoice px-lg-4 py-4" id="invoice">
    <div class="container-fluid">
        <div class="i-inner shadow py-5">
            <h3 style="font-weight: 600;" >Pay your invoice online</h3>
            <div class="i-box mt-3 py-3 px-md-5 px-3">
                <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi velit illo laborum.</div>
                <div style="font-size: 12px; margin-top: 4px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium in recusandae dolorem?</div>
            </div>
            <div class="i-box mt-3 py-3 px-md-5 px-3">
                <div>Lorem, ipsum dolor sit </div>
                <div style="font-size: 12px; margin-top: 4px;">0</div>
            </div>
            <div class="text-center mt-4">
                <button  style="border-radius: 0px; font-weight: 600; font-size: 17px;  background-color: black;" class="px-md-5 py-2" routerLink="invoice" mat-raised-button>Pay the bill</button>
            </div>
        </div>
    </div>
 </section>