/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
html, body { height: 100%; }
body { margin: 0;
    background-color: #FFFFFF;
    font-family: Roboto, "Helvetica Neue", sans-serif; }

    #nav-bar .nav-item a{
        font-size: 16px;
        color: black;
        font-weight: 500;
    }
    #nav-bar .nav-item a:focus{
        color: rgb(119, 111, 111);
    }
    .nav-bar {
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
      } 
     .navbar{
         background-color: #FFFFFF;
     }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    font-size: 18px;
    background: #0E1944;
  }
  #footer .footer-newsletter {
    text-align: center;
    font-size: 15px;
    color: #444444;
  }
   
  #footer .footer-newsletter form {
    
    background: #fff;
    padding: 6px 10px;
    position: relative;
    
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
  }
  #footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  #footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #000000;
    color: #fff;
    transition: 0.3s;
    
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #0E1944;
  }
  
  #footer .footer-top h4 {
    font-size: 18px;
    
    color: #ADB6B6;
    position: relative;
    padding-bottom: 15px;
  }
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #47b2e4;
    font-size: 18px;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #8FBDBC;
  }
  #footer .footer-top .social-links a {
    
    display: inline-block;
   border: 2px solid #ffff;
    color: #fff;
    line-height: 1;
    padding: 4px;
    margin-right: 8px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .footer-top .social-links a:hover {
    background: #93BFBE;
    color: #003537;
    text-decoration: none;
  }
  #footer .footer-bottom {
    padding-top: 0px;
    padding-bottom: 30px;
    color: #fff;
  }
  #footer .copyright {
    color: #777777;
    float: left;
  }
  #footer .credits {
    color: #777777;
    float: right;
   
  }
  #footer .credits a {
    transition: 0.3s;
  }
  @media (max-width: 768px) {
    #footer .footer-bottom {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    #footer .copyright, #footer .credits {
      text-align: center;
      float: none;
    }
    #footer .credits {
      padding-top: 4px;
    }
  }
   
  

