  <!-- ======= Hero Section ======= -->

  <section class="hero" id="hero" style="background-image: url('../../assets/Group\ 12870.png')">

 

    <div class="container hero-inner text-center " >

 

       <div class="hero-text pl-lg-5 pl-3 mt-lg-5 mt-4 ">

        <h1 class="">Lorem ipsum dolor sit amet consectetur.</h1>
        <button  style="border-radius: 0px; background-color: black;" class="px-5 py-2 mt-4" mat-raised-button>Get in touch</button>
        

       </div>
    </div>
</section>  
  
  <!-- End Hero -->

    <!-- ======= About us Section ======= -->
<section class="aboutus mt-5" id="aboutus">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div>
        <img src="../../assets/pexels-gotta-be-worth-it-5209891.png" class="img-fluid" alt="">
      </div>
    </div>
    <div class="col-md-8 px-md-4 mt-md-0 mt-4">
      <div>
        <h3 style="font-weight: 600;" >About us</h3>
        <div style="border-bottom: 4px solid #212529; width: 45px; margin-top: -8px;"></div>
      </div>
      <div class="mt-3 r-paras">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse cum, iusto facilis autem, quibusdam libero doloremque alias sint eveniet eos quidem quasi est vitae officia. Rerum minus harum eum sit?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum repellendus exercitationem adipisci, modi esse magni. Alias hic repellat numquam explicabo? Porro sequi et, totam atque odio labore illo similique aliquid! hic repellat numquam explicabo? Porro sequi et, totam atque odio labore illo similique aliquid!</p>
        <p style="font-style: italic;">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse cum, iusto facilis autem, quibusdam libero doloremque alias sint eveniet eos quidem quasi est vitae officia. Rerum minus harum eum sit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse cum, iusto facilis autem, quibusdam libero doloremque alias sint eveniet eos quidem quasi est vitae officia. Rerum minus harum eum sit?"</p>
       <div class="text-center mb-4"><h6>AMBER HALVERSON</h6></div>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique natus incidunt, maxime atque eius reiciendis necessitatibus harum quis ea expedita adipisci, ipsam quam doloribus assumenda ad delectus, rerum commodi iure.</p>

       <button  style="border-radius: 0px; background-color: black;" class="px-5 py-2 mt-lg-4" mat-raised-button>Learn more</button>
      </div>
    </div>
  </div>
</div>
</section>
      <!-- End About us -->

      <!-- ======= Why choose unite migration Section ======= -->
      <section id="migration" style="background-color: #F5F7F9;" class="migration py-5 mt-5">
        <div class="container">
          <div class="text-center">
            <h3 style="font-weight: 600;" >Why choose Unite Migration</h3>
            <hr style="border-bottom: 4px solid #212529; width: 70px; margin-top: -8px;">
          </div>
          <div class="row m-det">
            <div class="col-md-4 mt-5 px-lg-5">
              <div class="text-center">
                <img src="../../assets/Group 12871.png" class="img-fluid" alt="">
                <h6 class="mt-3" style="font-weight: 600;">No geographical limitations</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor reiciendis cupiditate alias eum dolore inventore vel aliquam architecto sapiente facilis perferendis obcaecati quaerat, deleniti corrupti quae dignissimos eligendi ab.</p>
              </div>
            </div>
            <div class="col-md-4 mt-5 px-lg-5">
              <div class="text-center">
                <img src="../../assets/Group 12871.png" class="img-fluid" alt="">
                <h6 class="mt-3" style="font-weight: 600;">No geographical limitations</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor reiciendis cupiditate alias eum dolore inventore vel aliquam architecto sapiente facilis perferendis obcaecati quaerat, deleniti corrupti quae dignissimos eligendi ab.</p>
              </div>
            </div>
            <div class="col-md-4 mt-5 px-lg-5">
              <div class="text-center">
                <img src="../../assets/Group 12871.png" class="img-fluid" alt="">
                <h6 class="mt-3" style="font-weight: 600;">No geographical limitations</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor reiciendis cupiditate alias eum dolore inventore vel aliquam architecto sapiente facilis perferendis obcaecati quaerat, deleniti corrupti quae dignissimos eligendi ab.</p>
              </div>
            </div>
            <div class="col-md-4 mt-5 px-lg-5">
              <div class="text-center">
                <img src="../../assets/Group 12871.png" class="img-fluid" alt="">
                <h6 class="mt-3" style="font-weight: 600;">No geographical limitations</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor reiciendis cupiditate alias eum dolore inventore vel aliquam architecto sapiente facilis perferendis obcaecati quaerat, deleniti corrupti quae dignissimos eligendi ab.</p>
              </div>
            </div>
            <div class="col-md-4 mt-5 px-lg-5">
              <div class="text-center">
                <img src="../../assets/Group 12871.png" class="img-fluid" alt="">
                <h6 class="mt-3" style="font-weight: 600;">No geographical limitations</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor reiciendis cupiditate alias eum dolore inventore vel aliquam architecto sapiente facilis perferendis obcaecati quaerat, deleniti corrupti quae dignissimos eligendi ab.</p>
              </div>
            </div>
            <div class="col-md-4 mt-5 px-lg-5">
              <div class="text-center">
                <img src="../../assets/Group 12871.png" class="img-fluid" alt="">
                <h6 class="mt-3" style="font-weight: 600;">No geographical limitations</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor reiciendis cupiditate alias eum dolore inventore vel aliquam architecto sapiente facilis perferendis obcaecati quaerat, deleniti corrupti quae dignissimos eligendi ab.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
       <!-- End Why choose unite migration -->

         <!-- ======= Services we offer Section ======= -->
         <section id="services" class="services py-5">
          <div class="container-fluid">
            <div class="text-center">
              <h3 style="font-weight: 600;" >Services we offer</h3>
              <hr style="border-bottom: 4px solid #212529; width: 70px; margin-top: -8px;">
            </div>
            <div class="row mt-4">
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="s-card px-lg-3 px-2" style="background-image: url('../../assets/Mask\ Group\ 5.png');">
                  <div class="c-det">
                   <h5 class=" " style="font-weight: 600;">Migration Consultation</h5>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor reiciendis cupiditate alias eum dolore inventore vel aliquam architecto sapiente facilis perferendis obcaecati quaerat, deleniti corrupti quae dignissimos eligendi ab.</p>
                   <button mat-button class="assesment mx-auto">Book free Assesment</button>
                  </div>
                 </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="s-card  px-lg-3 px-2" style="background-image: url('../../assets/Mask\ Group\ 6.png');">
                  <div class="c-det">
                    <h5 class=" " style="font-weight: 600;">Migration Consultation</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor reiciendis cupiditate alias eum dolore inventore vel aliquam architecto sapiente facilis perferendis obcaecati quaerat, deleniti corrupti quae dignissimos eligendi ab.</p>
                    <button mat-button class="assesment mx-auto">Book free Assesment</button>
                   </div>
                 </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="s-card px-lg-3 px-2" style="background-image: url('../../assets/Mask\ Group\ 7.png');">
                  <div class="c-det">
                   <h5 class=" " style="font-weight: 600;">Migration Consultation</h5>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor reiciendis cupiditate alias eum dolore inventore vel aliquam architecto sapiente facilis perferendis obcaecati quaerat, deleniti corrupti quae dignissimos eligendi ab.</p>
                   <button mat-button class="assesment mx-auto">Book free Assesment</button>
                  </div>
                 </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="s-card px-lg-3 px-2" style="background-image: url('../../assets/Mask\ Group\ 8.png');">
                  <div class="c-det">
                   <h5 class=" " style="font-weight: 600;">Migration Consultation</h5>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor reiciendis cupiditate alias eum dolore inventore vel aliquam architecto sapiente facilis perferendis obcaecati quaerat, deleniti corrupti quae dignissimos eligendi ab.</p>
                   <button mat-button class="assesment mx-auto">Book free Assesment</button>
                  </div>
                 </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="s-card px-lg-3 px-2" style="background-image: url('../../assets/Mask\ Group\ 9.png');">
                  <div class="c-det">
                   <h5 class=" " style="font-weight: 600;">Migration Consultation</h5>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor reiciendis cupiditate alias eum dolore inventore vel aliquam architecto sapiente facilis perferendis obcaecati quaerat, deleniti corrupti quae dignissimos eligendi ab.</p>
                   <button mat-button class="assesment mx-auto">Book free Assesment</button>
                  </div>
                 </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="s-card px-lg-3 px-2" style="background-image: url('../../assets/Mask\ Group\ 10.png');">
                  <div class="c-det">
                   <h5 class=" " style="font-weight: 600;">Migration Consultation</h5>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor reiciendis cupiditate alias eum dolore inventore vel aliquam architecto sapiente facilis perferendis obcaecati quaerat, deleniti corrupti quae dignissimos eligendi ab.</p>
                   <button mat-button class="assesment mx-auto">Book free Assesment</button>
                  </div>
                 </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="s-card px-lg-3 px-2" style="background-image: url('../../assets/Mask\ Group\ 11.png');">
                  <div class="c-det">
                   <h5 class=" " style="font-weight: 600;">Migration Consultation</h5>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor reiciendis cupiditate alias eum dolore inventore vel aliquam architecto sapiente facilis perferendis obcaecati quaerat, deleniti corrupti quae dignissimos eligendi ab.</p>
                   <button mat-button class="assesment mx-auto">Book free Assesment</button>
                  </div>
                 </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="s-card px-lg-3 px-2" style="background-image: url('../../assets/Mask\ Group\ 12.png');">
                  <div class="c-det">
                   <h5 class=" " style="font-weight: 600;">Migration Consultation</h5>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor reiciendis cupiditate alias eum dolore inventore vel aliquam architecto sapiente facilis perferendis obcaecati quaerat, deleniti corrupti quae dignissimos eligendi ab.</p>
                   <button mat-button class="assesment mx-auto">Book free Assesment</button>
                  </div>
                 </div>
              </div>
            </div>
          </div>
         </section>
          <!-- End Services we offer -->

          <!-- ======= Quote Section ======= -->
          <section id="quote" class="quote py-5" style="background-color: #2F3654; color: whitesmoke;">
            <div class="container mt-5">
              <mat-icon>format_quote</mat-icon>
             <div class="text-center">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit dolorum possimus quisquam vitae placeat sint hic in laboriosam quis aperiam, veniam quaerat ab provident quidem ut blanditiis adipisci aut illum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, eligendi accusamus. Distinctio dignissimos soluta porro aliquid culpa architecto voluptatem aut quibusdam repellat quidem officia saepe odio, eum atque? Enim, eaque. Lorem ipsum dolor sit amet consectetur. "</p>
              <div class="d-flex justify-content-center mt-4">
                <img src="../../assets/Mask Group 19.png" alt="">
                <p class="mt-3 ml-4">Paul Walker</p>
              </div>
             </div>
            </div>
          </section>
           <!-- End Quote -->

           <!-- ======= Contact us Section ======= -->
            <section id="Contact" class="contact my-5 py-2">
              <div class="container px-md-5">
                <div class="text-center px-md-5">
                  <h3 style="font-weight: 600;" >Contact us</h3>
                  <hr style="border-bottom: 4px solid #212529; width: 70px; margin-top: -7px;">
                  <p class="px-md-5" style="font-weight: 500;">Sometimes you are not sure where to start with a visa or citizenship application. The best thing is to just give us a call and we have a chat about your options.</p>
                </div>
                <div>
                  <div class="row mt-5">
                    <div class="col-md-6">
                      <ul style="list-style: none; padding-left: 0ch;">
                        <li><span class="l-dark">Email:</span> <br>
                          <span>Sample@gmail.com</span>
                        </li>
                        <li class="mt-4"><span class="l-dark">Phone:</span> <br>
                          <span>076 8362714</span>
                        </li>
                        <li class="mt-4"><span class="l-dark">Online:</span> <br>
                          <span>Zoom</span>
                        </li>
                        <li class="mt-4"><span class="l-dark">Post:</span> <br>
                          <span>Lorem, ipsum. <br>
                             Lorem, ipsum dolor.</span>
                        </li>
                        <li class="mt-4"><span class="l-dark">Location:</span> <br>
                          <span>Lorem, ipsum. <br>
                          Lorem ipsum dolor sit. <br>
                        Lorem, ipsum.</span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6 mt-4 mt-md-0">
                      <form>
                        <h6 style="font-weight: 600;">Message:</h6>
                       <div class="px-md-2">
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" id="name" aria-describedby="name">
                          
                        </div>
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                          <label for="phone">Phone</label>
                          <input type="number" class="form-control" id="phone">
                        </div>
                        <div class="form-group">
                          <label for="message">Message</label>
                          <textarea class="form-control" id="message" rows="3"></textarea>
                        </div>
                        <div class="text-center">
                          <button  style="border-radius: 0px; background-color: black;" class="px-5 pt-2 pb-1" mat-raised-button>Submit</button>
                        </div>
                       </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </section>
           <!-- End Contact us -->